<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h2 class="mt-3 new-heading">Update Listing</h2>

    <form method="post" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" name="listing[title]" value="<%=listing.title%>" required >
            <div class="invalid-feedback">
              Please choose a Title.
            </div>
          </div>
          <div class="mb-3">
            <p>Orginal Image: </p>
            <img src="<%= originalImageUrl %>" alt="" height="130rem">
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Upload Image:</label>
            <input type="file" class="form-control" name="listing[image]">
            <div class="invalid-feedback">
              Please Upload Image.
            </div>
           
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea name="listing[description]"  class="form-control" required ><%=listing.description%></textarea>
            <div class="invalid-feedback">
              Please Enter Description.
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price:</label>
                <input type="number" class="form-control" name="listing[price]"  value="<%=listing.price%>" required>
                <div class="invalid-feedback">
                  Please Enter Valid Price.
                </div>
              </div>

              <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" class="form-control" name="listing[country]" value="<%=listing.country%>" required>
                <div class="invalid-feedback">
                  Please Enter Country name.
                </div>
              </div>
          </div>
         
          <div class="mb-5">
            <label for="location" class="form-label">Property Location:</label>
            <input type="text" class="form-control" name="listing[location]" value="<%=listing.location%>" required>
            <div class="invalid-feedback">
              Please Enter Location.
            </div>
         
          </div>
        
          <button  class="btn btn-danger mb-5">Update Listing</button>
      
    </form>
</div>
</div>
   
    
</body>
